    /* COMMON STYLES */
    :root,
    html {
      font-size: 10px;
    }

    * {
      padding: 0;
      margin: 0;
      outline: 0;
    }

    html,
    body {
      height: 100%;
      width: 100%;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 15px;
    }

    ul,
    ol {
      list-style-position: inside;
    }

    textarea,
    input[type='text'],
    input[type='button'],
    input[type='submit'],
    input[type='date'] {
      -webkit-appearance: none;
      background-color: #f1f1f1;
      border-radius: 4px;
    }

    .link {
      color: #1980D8;
      cursor: pointer;
    }

    .cP {
      cursor: pointer;
    }

    .flex-center-v {
      display: flex;
      align-items: center;
    }

    /* COMMON STYLES */
    .wf-form-component {
      padding: 30px 40px 60px;
    }

    .wf-form-paid {
      padding-bottom: 45px;
    }

    .wf-parent {
      height: 100%;
      box-sizing: border-box;
      overflow: auto;
      background-color: #FFF;
    }

    .wf-wrapper * {
      box-sizing: border-box;
    }

    .wf-wrapper {
      width: auto;
      max-width: 900px;
      margin: auto;
    }

    .iframe-container {
      height: 100%;
      width: 100%;
      border: none;
      min-height: 365px;
    }

    .wf-header {
      font-size: 22px;
      padding-bottom: 25px;
      font-weight: bold;
      word-break: break-word;
    }

    .wf-row {
      margin-bottom: 25px;
    }

    .wf-row:last-child {
      margin-bottom: 0;
    }

    .wf-label {
      padding: 7px 0;
      word-break: break-word;
    }

    .wf-field {
      text-align: left;
      word-break: break-word;
      border: 0;
      position: relative;
    }

    .wf-field-inner {
      position: relative;
      display: flex;
      flex: 1;
    }

    .wf-field-input:focus {
      border: 1px solid #30c384;
    }

    .wf-input-focus.wf-field::after {
      opacity: 1;
    }

    .wf-field-error-active {
      margin-bottom: -10px;
    }

    .wf-input-focus.wf-field::after,
    .wf-field-error-active.wf-field .wf-field-error {
      display: block;
    }

    .wf-field-error-active.wf-field .wf-field-input {
      border: 1px solid #FD6B6D;
      box-shadow: 0 0 1px 1px #F4A2A2;
    }

    .wf-field-mandatory .wf-field-inner::before {
      /* content: '';
      position: absolute;
      left: 0px;
      background-color: #ff6a6a;
      width: 3px;
      height: 100%;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      z-index: 2;
      top: 0;
      bottom: 0; */
    }

    .wf-field-input,
    .wf-field-dropdown {
      width: 100%;
      border: 1px solid #f1f1f1;
      padding: 10px 15px;
      min-height: 38px;
      font-size: 15px;
      font-family: inherit;
    }

    select:not([data-wform-field='select-multiple']) {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: #f1f1f1;
      border-radius: 4px;
    }

    input,
    select {
      background-color: #fff;
    }

    .wf-field-item {
      min-height: 38px;
    }

    .wf-time-field-wrapper {
      display: flex;
      flex: 1;
    }

    .wf-time-field-wrapper select {
      margin-left: 10px;
    }

    .wf-form-component .wf-field-error,
    .wf-form-component .wf-field-help-text {
      text-align: left;
    }

    .wf-field-error {
      color: #FF5050;
      font-size: 12px;
      margin-top: 4px;
      display: none;
      animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    .wf-field-help-text {
      color: #515159;
      font-size: 12px;
      margin-top: 5px;
    }

    .wf-field-help-text-link {
      text-decoration: none;
    }

    .wf-field-checkbox {
      cursor: pointer;
      min-width: 14px;
      min-height: 20px;
      box-sizing: initial;
      accent-color: #31C486;
      margin-right: 10px;
      margin-bottom: auto;
    }

    .wf-field-dropdown-date {
      padding: 8px 12px;
      font-size: 15px;
      cursor: pointer;
    }

    .wf-field-dropdown-date {
      border: 1px solid #BDC8D3;
    }

    .wf-field-dropdown-date:hover {
      border: 1px solid #65C199;
    }

    .wform-field-item-upload-input {
      min-height: 5rem;
      background-color: #FBFCFD;
      border: 1px dashed #bdc8d3;
      line-height: 2.1;
      cursor: pointer;
    }

    .wform-field-item-upload-input:focus {
      border: 1px dashed #bdc8d3;
    }

    .wform-file-upload-input-label {
      background-color: #fff;
      background-image: linear-gradient(to top, #F5F8FA, #ffffff);
      color: #212129;
      border-color: #d3dbe3;
      border: 1px solid #d3dbe3;
      padding: 0.7rem 2rem;
      font-size: 1.4rem;
      right: 1rem;
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
    }

    input[type='file']::file-selector-button,
    input[type='file']::-webkit-file-upload-button {
      opacity: 0;
      width: 0;
      height: 28px;
    }

    .wf-row[data-ux-field-appearance='captcha'] .wf-field {
      display: flex;
      align-items: center;
    }

    .wform-field-item-captcha-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .wf-field-captcha-img-wrap {
      border: 1px solid #BDC8D3;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: initial;
      overflow: hidden;
      min-width: 120px;
    }

    .wf-field-captcha-img {
      height: 38px;
      width: 100%;
    }

    .reload-img {
      font-size: 23px;
      color: #4B5569;
      margin-right: 5px;
    }

    .reload-captcha {
      margin-left: 10px;
      user-select: none
    }

    .wf-btn {
      padding: 10px 20px;
      font-size: 15px;
      cursor: pointer;
      font-weight: bold;
      font-family: inherit;
    }

    .wform-btn-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
    }

    .wform-poweredby-container {
      position: absolute;
      left: 0;
      bottom: 0;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: #23384F;
      font-size: 13px;
      padding: 6px 8px;
      font-family: sans-serif;
      display: flex;
      align-items: center;
    }

    /* ==================== *** Form Alignment *** ==================== */
    .wf-form-component:not([data-ux-form-alignment='top']) .wf-row {
      display: flex;
    }

    .wf-form-component:not([data-ux-form-alignment='top']) .wf-label {
      word-break: break-word;
      width: 30%;
      padding: 1.2rem 2rem 0;
    }

    .wf-form-component[data-ux-form-alignment='left'] .wf-label {
      text-align: left;
      padding-left: 0;
    }

    .wf-form-component[data-ux-form-alignment='right'] .wf-label {
      text-align: right;
    }

    .wf-form-component[data-ux-form-alignment='center'] .wf-label {
      text-align: center;
    }

    .wf-form-component:not([data-ux-form-alignment='top']) .wf-field {
      width: 70%;
    }

    .wf-form-component[data-ux-form-alignment='top'] .wform-btn-wrap {
      justify-content: center;
    }

    .wf-form-component[data-ux-form-alignment='top'] .wf-label[data-ux-empty-label='true'] {
      padding: 0;
    }

    .wf-form-component[data-ux-form-alignment='top'] .reload-captcha {
      text-align: right;
    }

    .wf-row[data-ux-field-appearance='captcha'] .wf-field-inner {
      height: 38px;
    }

    .wf-row[data-ux-field-appearance='captcha'] .wf-field.wf-field-error-active {
      flex-wrap: wrap;
    }

    .wf-row[data-ux-field-appearance='captcha'] .wf-field-error {
      flex-basis: 100%;
      width: 100%;
    }

    /* ==================== *** Form Alignment ends *** ==================== */

    /* ==================== *** css animations *** ==================== */
    @keyframes shake {

      10%,
      90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%,
      60% {
        transform: translate3d(4px, 0, 0);
      }
    }

    /* ==================== *** css animations ends *** ==================== */

    /* ==================== *** Mediaquery *** ==================== */
    @media screen and (max-width: 1024px) {
      .wf-wrapper {
        max-width: 900;
        width: calc(100% - 40px);
        border: 0;
      }

      .wf-field input[type=text],
      .wf-field select,
      .wf-field textarea {
        width: 100% !important;
        background: #f1f1f1;
        border-radius: 4px;
      }

      .wf-label:empty {
        display: none;
      }

      .wf-field-checkbox {
        min-width: 18px;
        min-height: 18px;
      }
    }

    @media screen and (max-width: 768px) {
      .wf-wrapper {
        max-width: 700px;
        width: calc(100% - 40px);
        border: 0;
      }

      .wf-field input[type=text],
      .wf-field select,
      .wf-field textarea {
        width: 100% !important;
      }

      .wf-label:empty {
        display: none;
      }
    }

    @media screen and (max-width: 590px) {

      .wf-wrapper {
        width: calc(100% - 40px) !Important;
        border: 0;
      }

      .wf-form-component {
        padding: 20px;
        padding-bottom: 60px;
      }

      .wf-field input[type=text],
      .wf-field select,
      .wf-field textarea {
        width: 100% !important;
      }

      .wf-label:empty {
        display: none;
      }

      .wf-row[data-ux-field-appearance='date-time'] .wf-field-inner {
        flex-direction: column;
      }

      .wf-row[data-ux-field-appearance='date-time'] .wf-time-field-wrapper {
        margin-top: 10px;
      }

      .wf-row[data-ux-field-appearance='date-time'] .wf-field-item:first-child {
        margin-left: 0;
      }

      .wf-row[data-ux-field-appearance='date-time'] .wf-field-item {
        flex: 1;
      }

      .wf-row[data-ux-field-appearance='captcha'] .wf-field {
        flex-direction: column;
      }

      .wf-row[data-ux-field-appearance='captcha'] .reload-captcha {
        margin-left: auto;
      }

      .wf-row[data-ux-field-appearance='captcha'] .wf-field-inner {
        width: 100%;
      }
    }