.smartBuilder {
  width: 297px;
  height: 56px;
  flex-shrink: 0;
  fill: linear-gradient(272deg, #a601f3 2.16%, #fe7126 99.58%);

  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
  letter-spacing: 0.6px;
}
