.authenticator :global(.amplify-tabs) {
  display: none;
}

.authenticator {
  --amplify-components-authenticator-router-border-color: rgb(134, 15, 150);

  .actionLink {
    color: var(--amplify-colors-brand-primary-80);
  }
}