.mainContainer {
  // margin: 100px 0 0 80px;
  margin-bottom: 50px;
  .mainContainerItems {
    .componentHeader {
      color: #FFF;
      font-family: Inter, sans-serif;
      font-size: 22.003px;
      font-style: italic;
      font-weight: 400;
      line-height: 39.808px;
      letter-spacing: 0.22px;
      margin-bottom: 22.9px;
      .userName {
        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 22.003px;
        font-style: italic;
        font-weight: 500;
        line-height: 39.808px;
        letter-spacing: 0.22px;
      }
    }
    .videoSection {
      display: flex;
      gap: 12px;
      align-items: flex-end;
      img {
        height: 315px;
        width: 228px;
      }
      .video {
        width: 652px;
        height: 385px;
        background: #f7b68c;
      }
    }

    .callToAction {
      text-align: left;
      display: flex;
      button {
        margin-top: 46px;
        margin-right: 25px;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 20px;
        border-radius: 3px;
        width: 297px;
        height: 56px;
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.6px;
      }
      .smartBuilder {
        color: #fff;
        background: linear-gradient(272deg, #a600f3 2.16%, #ff7225 99.58%);
        font-family: Inter, sans-serif;
        font-size: 20px;
        letter-spacing: 0.6px;
        font-weight: 400;
        border-radius: 5px;
      }
      .buildIt {
        background-color: #fff;
        color: #000;
        font-family: Inter, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.6px;
        border-radius: 5px;
      }
    }
    .subHeader {
      text-align: left;
      font-family: Inter, sans-serif;
      font-size: 34px;
      font-weight: 500;
      color: #fff;
      margin: 60px 0 25px 0;
      letter-spacing: 2px;
      line-height: 40px;
      letter-spacing: 0.68px;
      span {
        background: linear-gradient(272deg, #A601F3 45.04%, #FE7126 99.58%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .list {
      text-align: left;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 33px;
      margin-bottom: 40px;
      .checkmark {
        display: inline;
        margin-right: 12px;
      }
      .listItem {
        font-family: Inter, sans-serif;
        font-size: 20px;
        letter-spacing: 0.6px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.9px;
      }
      .listElement {
        display: flex;
        gap: 12px;
        align-items: center;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
    .successNote {
      font-family: Inter, sans-serif;
      font-size: 20.081px;
      font-style: normal;
      font-weight: 300;
      line-height: 31.377px;
      letter-spacing: 0.48px;
      .partyEmoji {
        width: 33px;
        height: 33px;
        display: inline-block;
      }
    }
  }
}
