@tailwind base;
@tailwind components;
@tailwind utilities;

/* ####### CSS RESET START ####### */
/* https://andy-bell.co.uk/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

input:focus {
  border: 2px solid rgb(134, 15, 150) !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* ####### CSS RESET END ####### */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.icons-flex {
  background-size: 70% 65% !important;
  height: 15px;
  width: 17px;
  opacity: 0.9;
}
.icon-dir-row {
  background: url("/img/flex-dir-row.png") no-repeat center;
}
.icon-dir-row-rev {
  background: url("/img/flex-dir-row-rev.png") no-repeat center;
}
.icon-dir-col {
  background: url("/img/flex-dir-col.png") no-repeat center;
}
.icon-dir-col-rev {
  background: url("/img/flex-dir-col-rev.png") no-repeat center;
}
.icon-just-start {
  background: url("/img/flex-just-start.png") no-repeat center;
}
.icon-just-end {
  background: url("/img/flex-just-end.png") no-repeat center;
}
.icon-just-sp-bet {
  background: url("/img/flex-just-sp-bet.png") no-repeat center;
}
.icon-just-sp-ar {
  background: url("/img/flex-just-sp-ar.png") no-repeat center;
}
.icon-just-sp-cent {
  background: url("/img/flex-just-sp-cent.png") no-repeat center;
}
.icon-al-start {
  background: url("/img/flex-al-start.png") no-repeat center;
}
.icon-al-end {
  background: url("/img/flex-al-end.png") no-repeat center;
}
.icon-al-str {
  background: url("/img/flex-al-str.png") no-repeat center;
}
.icon-al-center {
  background: url("/img/flex-al-center.png") no-repeat center;
}

[data-tooltip]::after {
  background: rgba(51, 51, 51, 0.9);
}

.gjs-pn-commands {
  min-height: 40px;
}

#gjs-sm-float {
  display: none;
}

.gjs-logo-version {
  background-color: #756467;
}

.gjs-pn-btn.gjs-pn-active {
  box-shadow: none;
}

.CodeMirror {
  min-height: 450px;
  margin-bottom: 8px;
}
.grp-handler-close {
  background-color: transparent;
  color: #ddd;
}

.grp-handler-cp-wrap {
  border-color: transparent;
}

.clearfix {
  clear: both;
}
.header-banner {
  padding-top: 35px;
  padding-bottom: 100px;
  color: #ffffff;
  font-family: Helvetica, serif;
  font-weight: 100;
  background-image: url("https://grapesjs.com/img/bg-gr-v.png"),
    url("https://grapesjs.com/img/work-desk.jpg");
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-repeat: repeat-y, no-repeat;
  background-size: contain, cover;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.logo-container {
  float: left;
  width: 50%;
}
.logo {
  background-color: #fff;
  border-radius: 5px;
  width: 130px;
  padding: 10px;
  min-height: 30px;
  text-align: center;
  line-height: 30px;
  color: #4d114f;
  font-size: 23px;
}
.menu {
  float: right;
  width: 50%;
}
.menu-item {
  float: right;
  font-size: 15px;
  color: #eee;
  width: 130px;
  padding: 10px;
  min-height: 50px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}
.lead-title {
  margin: 150px 0 30px 0;
  font-size: 40px;
}
.sub-lead-title {
  max-width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #c6c6c6;
}
.lead-btn {
  margin-top: 15px;
  padding: 10px;
  width: 190px;
  min-height: 30px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 30px;
  background-color: #d983a6;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.lead-btn:hover {
  background-color: #ffffff;
  color: #4c114e;
}
.lead-btn:active {
  background-color: #4d114f;
  color: #fff;
}
.flex-sect {
  background-color: #fafafa;
  padding: 100px 0;
  font-family: Helvetica, serif;
}
.flex-title {
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  color: #555;
  padding: 5px;
}
.flex-desc {
  margin-bottom: 55px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
}
.cards {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  background-color: white;
  height: 300px;
  width: 300px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.5s ease;
  font-weight: 100;
  overflow: hidden;
}
.card:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}
.card-header {
  height: 155px;
  background-image: url("https://via.placeholder.com/350x250/78c5d6/fff");
  background-size: cover;
  background-position: center center;
}
.card-header.ch2 {
  background-image: url("https://via.placeholder.com/350x250/459ba8/fff");
}
.card-header.ch3 {
  background-image: url("https://via.placeholder.com/350x250/79c267/fff");
}
.card-header.ch4 {
  background-image: url("https://via.placeholder.com/350x250/c5d647/fff");
}
.card-header.ch5 {
  background-image: url("https://via.placeholder.com/350x250/f28c33/fff");
}
.card-header.ch6 {
  background-image: url("https://via.placeholder.com/350x250/e868a2/fff");
}
.card-body {
  padding: 15px 15px 5px 15px;
  color: #555;
}
.card-title {
  font-size: 1.4em;
  margin-bottom: 5px;
}
.card-sub-title {
  color: #b3b3b3;
  font-size: 1em;
  margin-bottom: 15px;
}
.card-desc {
  font-size: 0.85rem;
  line-height: 17px;
}
.am-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
}
.img-phone {
  float: left;
}
.am-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/*
        .am-container{
          perspective: 1000px;
        }*/
.am-content {
  float: left;
  padding: 7px;
  width: 490px;
  color: #444;
  font-weight: 100;
  margin-top: 50px;
}
.am-pre {
  padding: 7px;
  color: #b1b1b1;
  font-size: 15px;
}
.am-title {
  padding: 7px;
  font-size: 25px;
  font-weight: 400;
}
.am-desc {
  padding: 7px;
  font-size: 17px;
  line-height: 25px;
}
.am-post {
  padding: 7px;
  line-height: 25px;
  font-size: 13px;
}
.blk-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #222222;
  font-family: Helvetica, serif;
}
.blk-title {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
}
.blk-desc {
  color: #b1b1b1;
  font-size: 15px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  font-weight: 100;
}
.price-cards {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.price-card-cont {
  width: 300px;
  padding: 7px;
  float: left;
}
.price-card {
  margin: 0 auto;
  min-height: 350px;
  background-color: #d983a6;
  border-radius: 5px;
  font-weight: 100;
  color: #fff;
  width: 90%;
}
.pc-title {
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.pc-desc {
  padding: 75px 0;
  text-align: center;
}
.pc-feature {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  font-size: 15px;
  padding: 10px 20px;
}
.pc-feature:nth-of-type(2n) {
  background-color: transparent;
}
.pc-amount {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 35px;
  text-align: center;
  padding: 35px 0;
}
.pc-regular {
  background-color: #da78a0;
}
.pc-enterprise {
  background-color: #d66a96;
}
.footer-under {
  background-color: #312833;
  padding-bottom: 100px;
  padding-top: 100px;
  min-height: 500px;
  color: #eee;
  position: relative;
  font-weight: 100;
  font-family: Helvetica, serif;
}
.led {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  float: left;
  margin: 2px;
  transition: all 5s ease;
}
.led:hover {
  background-color: #c29fca; /* #eac229 */
  box-shadow: 0 0 5px #9d7aa5, 0 0 10px #e6c3ee; /* 0 0 10px 0 #efc111 */
  transition: all 0s ease;
}
.copyright {
  background-color: rgba(0, 0, 0, 0.15);
  color: rgba(238, 238, 238, 0.5);
  bottom: 0;
  padding: 1em 0;
  position: absolute;
  width: 100%;
  font-size: 0.75em;
}
.made-with {
  float: left;
  width: 50%;
  padding: 5px 0;
}
.foot-social-btns {
  display: none;
  float: right;
  width: 50%;
  text-align: right;
  padding: 5px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}
.foot-list {
  float: left;
  width: 200px;
}
.foot-list-title {
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0.5em 0;
}
.foot-list-item {
  color: rgba(238, 238, 238, 0.8);
  font-size: 0.8em;
  padding: 0.5em 0;
}
.foot-list-item:hover {
  color: rgba(238, 238, 238, 1);
}
.foot-form-cont {
  width: 300px;
  float: right;
}
.foot-form-title {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  margin-bottom: 10px;
  padding: 0.5em 0;
  text-align: right;
  font-size: 2em;
}
.foot-form-desc {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.55);
  line-height: 20px;
  text-align: right;
  margin-bottom: 15px;
}

.form {
  border-radius: 3px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.input,
.textarea,
.select,
.sub-input {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: #554c57;
  border: none;
}

.select {
  height: 30px;
}

.label {
  width: 100%;
  display: block;
}

.button,
.sub-btn {
  width: 100%;
  margin: 15px 0;
  background-color: #785580;
  border: none;
  color: #fff;
  border-radius: 2px;
  padding: 7px 10px;
  font-size: 1em;
  cursor: pointer;
}
.sub-btn:hover {
  background-color: #91699a;
}
.sub-btn:active {
  background-color: #573f5c;
}
.blk-row::after {
  content: "";
  clear: both;
  display: block;
}
.blk-row {
  padding: 10px;
}
.blk1 {
  width: 100%;
  padding: 10px;
  min-height: 75px;
}
.blk2 {
  float: left;
  width: 50%;
  padding: 10px;
  min-height: 75px;
}
.blk3 {
  float: left;
  width: 33.3333%;
  padding: 10px;
  min-height: 75px;
}
.blk37l {
  float: left;
  width: 30%;
  padding: 10px;
  min-height: 75px;
}
.blk37r {
  float: left;
  width: 70%;
  padding: 10px;
  min-height: 75px;
}
.heading {
  padding: 10px;
}
.paragraph {
  padding: 10px;
}

.bdg-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
  background-color: #fafafa;
}
.bdg-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 55px;
  color: #555555;
}
.badges {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.badge {
  width: 290px;
  font-family: Helvetica, serif;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: 100;
  overflow: hidden;
  text-align: center;
}
.badge-header {
  height: 115px;
  background-image: url("https://grapesjs.com/img/bg-gr-v.png"),
    url("https://grapesjs.com/img/work-desk.jpg");
  background-position: left top, center center;
  background-attachment: scroll, fixed;
  overflow: hidden;
}
.blurer {
  filter: blur(5px);
}
.badge-name {
  font-size: 1.4em;
  margin-bottom: 5px;
}
.badge-role {
  color: #777;
  font-size: 1em;
  margin-bottom: 25px;
}
.badge-desc {
  font-size: 0.85rem;
  line-height: 20px;
}
.badge-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-top: -75px;
  position: relative;
}
.badge-body {
  margin: 35px 10px;
}
.badge-foot {
  color: #fff;
  background-color: #a290a5;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: center;
}
.badge-link {
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-weight: 700;
  background-color: #fff;
  color: #a290a5;
  display: block;
  border-radius: 100%;
  margin: 0 10px;
}
.quote {
  color: #777;
  font-weight: 300;
  padding: 10px;
  box-shadow: -5px 0 0 0 #ccc;
  font-style: italic;
  margin: 20px 30px;
}

@media (max-width: 768px) {
  .foot-form-cont {
    width: 400px;
  }
  .foot-form-title {
    width: autopx;
  }
}

@media (max-width: 480px) {
  .foot-lists {
    display: none;
  }
}

.infoPanelLogoInside {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 10;
  stroke: #fff;
}

.gjs-block {
  width: auto !important;
  height: auto !important;
  min-height: auto !important;
  min-width: 105px !important;
}

.gjs-one-bg {
  background-color: rgb(0, 0, 0) !important;
}

.gjs-two-color {
  color: rgba(255, 255, 255, 0.7) !important;
}

.gjs-three-bg {
  background-color: #871097 !important;
  color: white;
}

.gjs-four-color,
.gjs-four-color-h:hover {
  color: #871097 !important;
}

.gjs-block__media {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.gjs-block__media > svg {
width: 47.4px;
height: 47.4px;
}

.gjs-block-section {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}