/* Add any additional styles as needed */

.gjs-mdl-dialog {
  max-width: unset;
  margin-top: 22px;
  width: 1298px !important;
  margin-top: 70px !important;
  border-radius: 18px !important;
  height: 755px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.gjs-mdl-dialog::-webkit-scrollbar {
  display: none;
}
.gjs-mdl-header {
  background-color: #ffffff;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  padding-top: 33px !important;
  padding-bottom: 58px !important;
  .gjs-mdl-title {
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 28.004px;
    font-style: normal;
    font-weight: 500;
    line-height: 39.808px; /* 142.149% */
    letter-spacing: 0.7px;
  }
  .gjs-mdl-btn-close {
    color: #000;
    font-size: 28.004px;
  }
}

.gjs-mdl-content {
  padding: unset;
  background-color: white;
  padding: 0 !important;
  #customModalPopup {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    position: relative;
    .leftSection {
      width: 26%;
      border-right: 1px solid rgb(176, 176, 176);
      padding: 12px;
      padding-left: 33px;
      .searchSection {
        padding: 19px 0 16px;
        .ais-SearchBox {
          .ais-SearchBox-input {
            background-color: #f5f9ff;
            padding: 8px 12px;
            border: none;
          }
        }
      }
      .refinementList {
        .ais-RefinementList-list {
          display: flex;
          flex-direction: column;
          gap: 1px;
          .ais-RefinementList-label {
            gap: 12px;
            ais-RefinementList-checkbox {
              border-radius: 8px;
            }
            .ais-RefinementList-labelText {
              color: #000;

              font-family: Inter, sans-serif;
              font-size: 18.003px;
              font-style: normal;
              font-weight: 400;
              line-height: 39.808px; /* 221.121% */
              letter-spacing: 0.45px;
            }
            .ais-RefinementList-count {
              color: #524747;

              font-family: Inter, sans-serif;
              font-size: 12.003px;
              font-style: normal;
              font-weight: 400;
            }
          }
        }
      }
    }
    .rightSection {
      padding-top: 24px;
      padding-left: 37px;
      width: 74%;
      .topSection {
        /* h2 {
          font-family: Inter, sans-serif;
          font-size: 26.004px;
          font-style: normal;
          font-weight: 600;
          line-height: 39.808px;
          letter-spacing: 0.65px;
        } */
        p {
          color: #919090;
          font-family: Inter, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          /* line-height: 39.802px; 248.761% */
          letter-spacing: 0.4px;
        }
      }
      .bottomSection {
        padding: 14px 0;
        .ais-Hits-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 35px
;
          .ais-Hits-item {
            width: 272px;
            justify-content: center;
            padding-bottom: unset;
            padding: 0;
            border: none !important;
            box-shadow: none;        
            .articleSection {
              width: 100%;
              background-color: #ffffff;
              height: 100%;
              img {
                height: 80px;
                max-width: 180px;
              }
              .imageContainer {
                padding: 1.1rem;
                padding-bottom: 0px;
                width: 100%;
                height: 169px;
                .image {
                  width: 100%;
                  max-width: unset;
                  height: 100%;
                }
              }
              .description {
                display: flex;
                gap: 14px;
                align-items: center;
                padding: 12px 4px;
                justify-content: space-between;
                h1 {
                  color: #000;
                  font-family: Inter, sans-serif;
                  font-size: 15.002px;
                  font-style: normal;
                  font-weight: 500;
                  letter-spacing: 0.375px;
                }
                button {
                  background-color: #f3f4f6;
                  color: #d0f;
                  padding: 6px 12px;
                  font-family: Inter, sans-serif;
                  font-size: 14.002px;
                  font-style: normal;
                  font-weight: 500;
                  letter-spacing: 0.35px;
                  border-radius: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#customModalPopup {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  font-family: Inter, sans-serif;
  min-height: 624px;
  .subTitle {
    color: #919090 !important;
  }
  .leftSection {
    width: 26%;
    border-right: 1px solid rgb(176, 176, 176);
    padding: 12px;
    padding-left: 33px;
    .searchSection {
      padding: 19px 0 16px;
      .ais-SearchBox {
        .ais-SearchBox-input {
          background-color: #f5f9ff;
          padding: 8px 12px;
          border: none;
        }
      }
    }
    .refinementList {
      .ais-RefinementList-list {
        display: flex;
        flex-direction: column;
        gap: 1px;
        .ais-RefinementList-label {
          gap: 12px;
          ais-RefinementList-checkbox {
            border-radius: 8px;
          }
          .ais-RefinementList-labelText {
            color: #000;
            font-family: Inter, sans-serif;
            font-size: 18.003px;
            font-style: normal;
            font-weight: 400;
            line-height: 39.808px; /* 221.121% */
            letter-spacing: 0.45px;
          }
          .ais-RefinementList-count {
            color: #524747;
            font-family: Inter, sans-serif;
            font-size: 12.003px;
            font-style: normal;
            font-weight: 400;
          }
        }
      }
    }
  }
  .rightSection {
    padding-top: 24px;
    padding-left: 37px;
    width: 74%;
    .topSection {
      h2 {
        font-family: Inter, sans-serif;
        font-size: 26.004px;
        font-style: normal;
        font-weight: 600;
        line-height: 39.808px;
        letter-spacing: 0.65px;
        background-color: white !important;
      }
      p {
        color: #919090;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        /* line-height: 39.802px; 248.761% */
        letter-spacing: 0.4px;
        margin-bottom: 16px;
        margin-top: 10px;
      }
    }
    .bottomSection {
      padding: 14px 0;
      .ais-Hits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 35px;
        border: none !important;
        box-shadow: none;    
        .ais-Hits-item {
          width: 272px;
          background-color: #bbfbe5;
          justify-content: center;
          padding-bottom: unset;
          padding: 0;
          .articleSection {
            background-color: #ffffff;
            height: 100%;
            img {
              height: 80px;
              max-width: 180px;
            }
            .description {
              display: flex;
              gap: 14px;
              align-items: center;
              padding: 12px 4px;
              justify-content: space-between;
              h1 {
                color: #000;
                font-family: Inter, sans-serif;
                font-size: 15.002px;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.375px;
              }
              button {
                background-color: #f3f4f6;
                color: #d0f;
                padding: 6px 12px;
                font-family: Inter, sans-serif;
                font-size: 14.002px;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.35px;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }
}

.search-trust {
  background-color: #11EC7D;
}
.search-logic {
  background-color: #7E9CFF;
}
.search-brand-connect {
  background-color: #FF971D;
}
.search-emotion {
  background-color: #FF7FE5;
}
.search-fomo {
  background-color: #FFE512;
}
.search-value {
  background-color: #E064FF;
}
.search-first-impression {
  background-color: #919090;
}

.trust {
  color: #11EC7D;
  background-color: #BBFBE5;
}
.logic {
  color: #7E9CFF;
  background-color: #D8DFF1;
}
.brand-connect {
  color: #FF971D;
  background-color: #FFEBD2;
}
.emotion {
  color: #FF7FE5;
  background-color: #FFE6FB;
}
.fomo {
  color: #FFE512;
  background-color: #FFFACF;
}
.value {
  color: #E064FF;
  background-color: #FFE1FF;
}
.first-impression {
  color: #919090;
  background-color: #EEEEEE;
}

.ais-SearchBox-form::before {
  background: none !important;
}

.ais-SearchBox-input {
  height: 40px;
  font-size: 17.003px;
  font-style: normal;
  font-weight: 400;
  margin-right: 50px;
  box-shadow: none;
}