 #customModalPreviewPopup {
    position: absolute;
    background: white;
    overflow-y: scroll;
    height: 100%;
    padding-top: 37px;
    .startEditingCta {
      padding: 10px;
      border-radius: 5px;
      background: linear-gradient(272deg, #A601F3 2.16%, #FE7126 99.58%), linear-gradient(272deg, #A601F3 45.04%, #FE7126 99.58%);
      outline: none;
      border: none;
      color: #FFF;
      font-family: Inter, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.6px;
      width: 187px;
      height: 50px;
      margin-bottom: 60px;
      .magicWand {
        width: 30px;
        height: 30px;
        display: inline;
        margin-right: 10px;
      }
    }
    .cancelCta {
      padding: 10px;
      border-radius: 5px;
      background-color: #e51818e0;
      outline: none;
      border: none;
      color: #FFF;
      font-family: Inter, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 25px;
      letter-spacing: 0.6px;
      width: 187px;
      height: 50px;
      margin-bottom: 60px;
      .magicWand {
        width: 30px;
        height: 30px;
        display: inline;
        margin-right: 10px;
      }
    }
    .bg-1 {
      background-color:  #26d626;
    }
    .bg-2 {
      background-color:  #FFE512;
    }
     .bg-3 {
      background-color:  #11EC7D
    }
    .bg-4 {
      background-color:  #E064FF;
    }
    .bg-5 {
      background-color:  #FF971D;
    }
    .bg-6 {
      background-color:  #FF7FE5;
    }
    .bg-7 {
      background-color:  #7E9CFF;
    }
    .bg-8 {
      background-color:  #A3A3A3;
    }
    .color-1 {
      color:  #26d626;
    }
    .color-2 {
      color:  #FFE512;
    }
     .color-3 {
      color:  #11EC7D;
    }
     .color-4 {
      color: #E064FF;
    }
     .color-5 {
      color:  #FF971D;
    }
    .color-6 {
      color:  #FF7FE5;
    }
    .color-7 {
      color:  #7E9CFF;
    }
    .color-8 {
      color:  #A3A3A3;
    }
    .container {
      text-align: center;
      padding:  0px 20px;
      margin-bottom: 140px;
    }
    .filter-section {
      display: flex;
    }
    .left {
      width:  30%;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 150px;
    }
    .right {
      width:  70%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    img {
      width:  100%;
    }
    .pill {
      padding: 4px 24px;
      display: inline-block;
      border-radius: 7px;
      font-size: 18px;
      color: white;
    }
    .data {
      color:  grey;
      width: 320px;
      margin-bottom: 10px;
    }
    .f60 {
      font-size: 60px;
      color: #d1cbcb;
      margin: 0 auto;
      padding: 0px 0px 10px;
      font-weight: bold;
    }
    .f25 {
      color:  #000;
      font-size: 30px;
      font-weight: bold;
      margin: 0px;
      padding-bottom: 5px;
    }
    .f30 {
      color:  #000;
      font-size: 30px;
      font-weight: normal;
      margin: 0px;
      padding-bottom: 30px;
    }
  }
