
.gjs-mdl-content {
  padding: unset;
  #customModalPreviewPopup{
    background-color:  #fff;
  }
  #customModalPreviewPopup {
    .bg-1 {
      background-color:  #26d626;
    }
    .bg-2 {
      background-color:  #6161e9;
    }
     .bg-3 {
      background-color:  #eaea18;
    }
    .color-1 {
      color:  #26d626;
    }
    .color-2 {
      color:  #6161e9;
    }
     .color-3 {
      color:  #eaea18;
    }
     .color-4 {
      color:  orange;
    }
     .color-5 {
      color:  #e56ae5;
    }
    .container {
      text-align: center;
      padding:  0px 20px;
      margin-bottom: 140px;
    }
    .filter-section {
      display: flex;
    }
    .left {
      width:  30%;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 150px;
    }
    .right {
      width:  70%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    img {
      width:  100%;
    }
    .pill {
      padding: 4px 24px;
      display: inline-block;
      border-radius: 7px;
      font-size: 18px;
      color: white;
    }
    .data {
      color:  grey;
    }
    .f60 {
      font-size: 60px;
      color: #d1cbcb;
      margin: 0 auto;
      padding: 0px 0px 10px;
      font-weight: bold;
    }
    .f25 {
      color:  #000;
      font-size: 30px;
      font-weight: bold;
      margin: 0px;
      padding-bottom: 5px;
      padding-top: 20px;
    }
    .f30 {
      color:  #000;
      font-size: 30px;
      font-weight: normal;
      margin: 0px;
      padding-bottom: 30px;
    }
  }
}
