.buttonSection {
  background-color: aqua;
  color: red;

  .header {
    font-size: 26px;
    font-family: "inter";
    color: #fff;
    line-height: 1.65em;
  }
  .subHeader {
    font-size: 22px;
    font-family: "inter";
    color: #fff;
    line-height: 1.35em;
  }
  .subPara {
    font-size: 18px;
    font-family: "inter";
    color: #fff;
    line-height: 1.23em;
  }
}
