.navBar>div {
  background-color: black;
  position: relative;
}

.navBar {
  max-width: 304px;
}
.persuasive-block-container{
  background: linear-gradient(272deg, #A601F3 2.16%, #FE7126 99.58%);
}

.plan-benefits {
  padding: 0 15px;
}

.plan-benefits .content {
    background-color: rgba(82, 82, 91, 1);
}

/* .navBar>div:after {
  content: "";
  background: rgb(77, 77, 77);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 95%;
  width: 0.1rem;
  margin-bottom: 15px;
} */
