/* @tailwind base;
@tailwind components;
@tailwind utilities; */

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    /* height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none; */
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.otf') format('otf');
    font-weight: 600;
    font-style: normal;
  }
  
  .bg-checker {
      background-color: var(--bg-checker-color);
      background-image: var(--bg-checker);
  }
  
  .color-picker.react-colorful {
      width: auto;
  }
  
  .color-picker .react-colorful__saturation {
      border-radius: 5px;
      border-bottom: none;
  }
  
  .color-picker .react-colorful__hue,
  .color-picker .react-colorful__alpha {
    height: 14px;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .color-picker .react-colorful__hue-pointer,
  .color-picker .react-colorful__saturation-pointer,
  .color-picker .react-colorful__alpha-pointer {
    width: 20px;
    height: 20px;
  }
  
  .carbon-wrap .carbon-img {
    float: left;
    margin-right: 5px;
  }
  
  /* GrapesJS styles */
  .block-media path,
  .block-media rect,
  .layer-item path {
    fill: currentColor;
  }
  
  .gjs-resizer-h.gjs-resizer-h {
    border-radius: 999px;
    border-width: 2px;
  }
  
  /* Hide default preview off button */
  .gjs-off-prv {
    display: none !important;
  }
  
  /* Fix toolbar dimension */
  .gjs-toolbar-items {
    display: flex;
  }
  
  .gjs-badge {
    line-height: normal;
  }


  /*
! tailwindcss v3.2.3 | MIT License | https://tailwindcss.com
*/
/* *,:after,:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box
}

:after,:before {
    --tw-content: ""
} */
/* 
hr {
    border-top-width: 1px;
    color: inherit;
    height: 0
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: initial
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0
}

button,input,optgroup,select,textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button;
    background-color: initial;
    background-image: none
}

:-moz-focusring {
    outline: auto
}

:-moz-ui-invalid {
    box-shadow: none
}

progress {
    vertical-align: initial
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre {
    margin: 0
}

fieldset {
    margin: 0
}

fieldset,legend {
    padding: 0
}

menu,ol,ul {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #9ca3af;
    opacity: 1
}

input::placeholder,textarea::placeholder {
    color: #9ca3af;
    opacity: 1
}

[role=button],button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,canvas,embed,iframe,img,object,svg,video {
    display: block;
    vertical-align: middle
}

img,video {
    height: auto;
    max-width: 100%
}

[hidden] {
    display: none
} */
/* 
*,:after,:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
} */

/* ::-webkit-backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
} */

/* ::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
} */

.container {
    width: 100%
}

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}

.pointer-events-none {
    pointer-events: none
}

.visible {
    visibility: visible
}

.\!visible {
    visibility: visible!important
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.sticky {
    position: -webkit-sticky;
    position: sticky
}

.inset-0 {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

.top-0 {
    top: 0
}

.left-0 {
    left: 0
}

.bottom-0 {
    bottom: 0
}

.top-\[-14px\] {
    top: -14px
}

.bottom-\[-17px\] {
    bottom: -17px
}

.left-\[-7px\] {
    left: -7px
}

.right-0 {
    right: 0
}

.right-2 {
    right: .5rem
}

.bottom-2 {
    bottom: .5rem
}

.top-5 {
    top: 1.25rem
}

.right-5 {
    right: 1.25rem
}

.top-2\.5 {
    top: .625rem
}

.right-2\.5 {
    right: .625rem
}

.top-2 {
    top: .5rem
}

.left-1\/2 {
    left: 50%
}

.right-\[-20px\] {
    right: -20px
}
/* 
.z-10 {
    z-index: 10
}

.z-0 {
    z-index: 0
}

.z-20 {
    z-index: 20
}

.z-30 {
    z-index: 30
}

.z-50 {
    z-index: 50
}

.z-40 {
    z-index: 40
}

.m-5 {
    margin: 1.25rem
}

.m-4 {
    margin: 1rem
}

.m-3 {
    margin: .75rem
}

.m-auto {
    margin: auto
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.my-2 {
    margin-bottom: .5rem;
    margin-top: .5rem
}

.my-8 {
    margin-bottom: 2rem;
    margin-top: 2rem
}

.my-1 {
    margin-bottom: .25rem;
    margin-top: .25rem
}

.my-0\.5 {
    margin-bottom: .125rem;
    margin-top: .125rem
}

.my-0 {
    margin-bottom: 0;
    margin-top: 0
}

.my-5 {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem
}

.mt-1 {
    margin-top: .25rem
}

.mr-auto {
    margin-right: auto
}

.mb-0\.5 {
    margin-bottom: .125rem
}

.mt-0\.5 {
    margin-top: .125rem
}

.mb-0 {
    margin-bottom: 0
}

.mt-0 {
    margin-top: 0
}

.mb-2 {
    margin-bottom: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.mb-1 {
    margin-bottom: .25rem
}

.mt-4 {
    margin-top: 1rem
}

.-ml-3 {
    margin-left: -.75rem
}

.-ml-2 {
    margin-left: -.5rem
}

.mr-0\.5 {
    margin-right: .125rem
}

.-ml-1 {
    margin-left: -.25rem
}

.mr-0 {
    margin-right: 0
}

.mt-5 {
    margin-top: 1.25rem
}

.ml-1 {
    margin-left: .25rem
}

.mr-4 {
    margin-right: 1rem
}

.mt-1\.5 {
    margin-top: .375rem
}

.mt-2 {
    margin-top: .5rem
}

.-mr-2 {
    margin-right: -.5rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-\[200px\] {
    margin-bottom: 200px
}

.ml-auto {
    margin-left: auto
} */

.\!box-content {
    box-sizing: initial!important
}

.block {
    display: block
}

.\!block {
    display: block!important
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline
}

.\!inline {
    display: inline!important
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.grid {
    display: grid
}

.contents {
    display: contents
}

.hidden {
    display: none
}

.h-\[6px\] {
    height: 6px
}

.h-full {
    height: 100%
}

.h-5 {
    height: 1.25rem
}

.h-screen {
    height: 100vh
}

.h-\[100px\] {
    height: 100px
}

.h-\[75vh\] {
    height: 75vh
}

.h-10 {
    height: 2.5rem
}

.h-\[15px\] {
    height: 15px
}

.h-\[20px\] {
    height: 20px
}

.h-\[3px\] {
    height: 3px
}

.h-\[50px\] {
    height: 50px
}

.h-\[30px\] {
    height: 30px
}

.h-0\.5 {
    height: .125rem
}

.h-0 {
    height: 0
}

.h-6 {
    height: 1.5rem
}

.h-4 {
    height: 1rem
}

.h-\[29px\] {
    height: 29px
}

.h-\[400px\] {
    height: 400px
}

.h-\[150px\] {
    height: 150px
}

.h-\[200vh\] {
    height: 200vh
}

.h-\[75px\] {
    height: 75px
}

.h-\[200px\] {
    height: 200px
}

.max-h-full {
    max-height: 100%
}

.min-h-\[200px\] {
    min-height: 200px
}

.min-h-screen {
    min-height: 100vh
}

.w-\[6px\] {
    width: 6px
}

.w-full {
    width: 100%
}

.w-5 {
    width: 1.25rem
}

.w-10 {
    width: 2.5rem
}

.w-\[15px\] {
    width: 15px
}

.w-\[13px\] {
    width: 13px
}

.w-\[17px\] {
    width: 17px
}

.w-\[3px\] {
    width: 3px
}

.w-\[20px\] {
    width: 20px
}

.w-\[25px\] {
    width: 25px
}

.w-\[50px\] {
    width: 50px
}

.w-\[4px\] {
    width: 4px
}

.w-\[200px\] {
    width: 200px
}

.w-1\/2 {
    width: 50%
}

.w-11 {
    width: 2.75rem
}

.w-4 {
    width: 1rem
}

.w-\[300px\] {
    width: 300px
}

.w-\[100px\] {
    width: 100px
}

.w-\[1200px\] {
    width: 1200px
}

.max-w-full {
    max-width: 100%
}

.max-w-5xl {
    max-width: 64rem
}

.max-w-sm {
    max-width: 24rem
}

.max-w-md {
    max-width: 28rem
}

.max-w-\[240px\] {
    max-width: 240px
}

.flex-1 {
    flex: 1 1
}

.flex-shrink {
    flex-shrink: 1
}

.flex-grow,.grow {
    flex-grow: 1
}

.origin-top-left {
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.-translate-x-full {
    --tw-translate-x: -100%
}

.-translate-x-full,.-translate-y-full {
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-full {
    --tw-translate-y: -100%
}

.translate-x-\[-50\%\] {
    --tw-translate-x: -50%
}

.translate-x-\[-50\%\],.translate-y-1 {
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-1 {
    --tw-translate-y: 0.25rem
}

.translate-x-6 {
    --tw-translate-x: 1.5rem
}

.translate-x-1,.translate-x-6 {
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-x-1 {
    --tw-translate-x: 0.25rem
}

.translate-y-1\.5 {
    --tw-translate-y: 0.375rem
}

.-translate-x-1\/2,.translate-y-1\.5 {
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%
}

.rotate-180 {
    --tw-rotate: 180deg
}

.rotate-180,.rotate-45 {
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-45 {
    --tw-rotate: 45deg
}

.scale-95 {
    --tw-scale-x: .95;
    --tw-scale-y: .95
}

.scale-100,.scale-95 {
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1
}

.scale-\[0\.232\] {
    --tw-scale-x: 0.232;
    --tw-scale-y: 0.232
}

.scale-\[0\.232\],.transform {
    -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform-gpu {
    -webkit-transform: translate3d(var(--tw-translate-x),var(--tw-translate-y),0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate3d(var(--tw-translate-x),var(--tw-translate-y),0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.animate-spin-fast {
    -webkit-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite
}

.cursor-pointer {
    cursor: pointer
}

.cursor-not-allowed {
    cursor: not-allowed
}

.\!cursor-ns-resize {
    cursor: ns-resize!important
}

.\!cursor-ew-resize {
    cursor: ew-resize!important
}

.cursor-ew-resize {
    cursor: ew-resize
}

.cursor-ns-resize {
    cursor: ns-resize
}

.cursor-colr {
    cursor: col-resize
}

.cursor-cross {
    cursor: crosshair
}

.cursor-ns {
    cursor: ns-resize
}

.cursor-default {
    cursor: default
}

.cursor-grab {
    cursor: grab
}

.cursor-auto {
    cursor: auto
}

.select-none {
    -webkit-user-select: none;
    user-select: none
}

.resize {
    resize: both
}

.list-disc {
    list-style-type: disc
}

.grid-cols-4 {
    grid-template-columns: repeat(4,minmax(0,1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr))
}

.grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3,minmax(0,1fr))
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-col {
    flex-direction: column
}

.flex-col-reverse {
    flex-direction: column-reverse
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.items-stretch {
    align-items: stretch
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-2 {
    gap: .5rem
}

.space-y-0\.5>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.125rem*var(--tw-space-y-reverse));
    margin-top: calc(.125rem*(1 - var(--tw-space-y-reverse)))
}

/* .space-x-0\.5>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.125rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(.125rem*var(--tw-space-x-reverse))
}

.space-y-0>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0px*var(--tw-space-y-reverse));
    margin-top: calc(0px*(1 - var(--tw-space-y-reverse)))
}

.space-x-0>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0px*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(0px*var(--tw-space-x-reverse))
}

.space-y-1>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.25rem*var(--tw-space-y-reverse));
    margin-top: calc(.25rem*(1 - var(--tw-space-y-reverse)))
}

.space-x-1>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.25rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(.25rem*var(--tw-space-x-reverse))
} */

/* .space-y-2>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(.5rem*var(--tw-space-y-reverse));
    margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)))
} */

/* .space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(.5rem*var(--tw-space-x-reverse))
}

.space-y-4>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(1rem*var(--tw-space-y-reverse));
    margin-top: calc(1rem*(1 - var(--tw-space-y-reverse)))
}

.space-x-4>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(1rem*var(--tw-space-x-reverse))
} */

.overflow-auto {
    overflow: auto
}

/* .overflow-hidden {
    overflow: hidden
} */

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.truncate {
    overflow: hidden;
    white-space: nowrap
}

.text-ellipsis,.truncate {
    text-overflow: ellipsis
}

.whitespace-nowrap {
    white-space: nowrap
}

.rounded {
    border-radius: .25rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-xl {
    border-radius: .75rem
}

.border {
    border-width: 1px
}

.border-2 {
    border-width: 2px
}

.border-t {
    border-top-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.border-r {
    border-right-width: 1px
}

.border-l {
    border-left-width: 1px
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-violet-400 {
    --tw-border-opacity: 1;
    border-color: rgb(167 139 250/var(--tw-border-opacity))
}

.border-pink-900 {
    --tw-border-opacity: 1;
    border-color: rgb(131 24 67/var(--tw-border-opacity))
}

.border-blue-450 {
    --tw-border-opacity: 1;
    border-color: rgb(59 151 227/var(--tw-border-opacity))
}

.border-amber-500 {
    --tw-border-opacity: 1;
    border-color: rgb(245 158 11/var(--tw-border-opacity))
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219/var(--tw-border-opacity))
}

.border-white\/25 {
    border-color: hsla(0,0%,100%,.25)
}

.border-ra {
    border-color: #535353;
}

.border-transparent {
    border-color: transparent
}

/* .border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255/var(--tw-border-opacity))
} */

.\!border-y-transparent {
    border-bottom-color: transparent!important;
    border-top-color: transparent!important
}

.\!border-r-transparent {
    border-right-color: transparent!important
}

.bg-transparent {
    background-color: initial
}

.bg-violet-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(167 139 250/var(--tw-bg-opacity))
}

.bg-violet-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(139 92 246/var(--tw-bg-opacity))
}

.bg-violet-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 243 255/var(--tw-bg-opacity))
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-white\/50 {
    background-color: hsla(0,0%,100%,.5)
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

.bg-gray-100\/75 {
    background-color: rgba(243,244,246,.75)
}

.bg-gray-25 {
    --tw-bg-opacity: 1;
    background-color: rgb(253 253 253/var(--tw-bg-opacity))
}

.bg-pink-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(251 207 232/var(--tw-bg-opacity))
}

.bg-blue-450 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 151 227/var(--tw-bg-opacity))
}

.bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(219 234 254/var(--tw-bg-opacity))
}

.bg-blue-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255/var(--tw-bg-opacity))
}

.bg-amber-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 158 11/var(--tw-bg-opacity))
}

.bg-amber-500\/10 {
    background-color: rgba(245,158,11,.1)
}

.bg-zinc-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70/var(--tw-bg-opacity))
}

.bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.bg-white\/10 {
    background-color: hsla(0,0%,100%,.1)
}

.bg-\[\#7fc65e\] {
    --tw-bg-opacity: 1;
    background-color: rgb(127 198 94/var(--tw-bg-opacity))
}

.bg-\[\#ebae70\] {
    --tw-bg-opacity: 1;
    background-color: rgb(235 174 112/var(--tw-bg-opacity))
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246/var(--tw-bg-opacity))
}

.bg-black\/50 {
    background-color: rgba(0,0,0,.5)
}

.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68/var(--tw-bg-opacity))
}

.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94/var(--tw-bg-opacity))
}

.bg-orange-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(251 146 60/var(--tw-bg-opacity))
}

.bg-contain {
    background-size: contain
}

.bg-cover {
    background-size: cover
}

.bg-center {
    background-position: 50%
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.fill-current {
    fill: currentColor
}

/* .p-2 {
    padding: .5rem
}

.p-1 {
    padding: .25rem
}

.p-5 {
    padding: 1.25rem
}

.p-10 {
    padding: 2.5rem
} */

/* .p-3 {
    padding: .75rem
} */

/* .px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-2 {
    padding-bottom: .5rem;
    padding-top: .5rem
} */

/* .px-2 {
    padding-left: .5rem;
    padding-right: .5rem
} */
/* 
.py-1 {
    padding-bottom: .25rem;
    padding-top: .25rem
}

.py-0\.5 {
    padding-bottom: .125rem;
    padding-top: .125rem
}

.py-0 {
    padding-bottom: 0;
    padding-top: 0
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.px-2\.5 {
    padding-left: .625rem;
    padding-right: .625rem
}

.py-1\.5 {
    padding-bottom: .375rem;
    padding-top: .375rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.px-0\.5 {
    padding-left: .125rem;
    padding-right: .125rem
}

.px-0 {
    padding-left: 0;
    padding-right: 0
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.px-1\.5 {
    padding-left: .375rem;
    padding-right: .375rem
}

.px-20 {
    padding-left: 5rem;
    padding-right: 5rem
}

.px-\[2px\] {
    padding-left: 2px;
    padding-right: 2px
}

.py-\[2px\] {
    padding-bottom: 2px;
    padding-top: 2px
}

.py-3 {
    padding-bottom: .75rem;
    padding-top: .75rem
}

.pr-2 {
    padding-right: .5rem
}

.pb-3 {
    padding-bottom: .75rem
}

.pl-2 {
    padding-left: .5rem
}

.pr-1 {
    padding-right: .25rem
}

.pl-5 {
    padding-left: 1.25rem
}

.pt-\[100px\] {
    padding-top: 100px
} */

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}

.font-medium {
    font-weight: 500
}

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.capitalize {
    text-transform: capitalize
}

.leading-6 {
    line-height: 1.5rem
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.text-neutral-400 {
    --tw-text-opacity: 1;
    color: rgb(163 163 163/var(--tw-text-opacity))
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.text-violet-400 {
    --tw-text-opacity: 1;
    color: rgb(167 139 250/var(--tw-text-opacity))
}

.text-violet-800 {
    --tw-text-opacity: 1;
    color: rgb(91 33 182/var(--tw-text-opacity))
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-violet-900 {
    --tw-text-opacity: 1;
    color: rgb(76 29 149/var(--tw-text-opacity))
}

.text-pink-900 {
    --tw-text-opacity: 1;
    color: rgb(131 24 67/var(--tw-text-opacity))
}

.text-amber-500 {
    --tw-text-opacity: 1;
    color: rgb(245 158 11/var(--tw-text-opacity))
}

.underline {
    text-decoration-line: underline
}

.overline {
    text-decoration-line: overline
}

.line-through {
    text-decoration-line: line-through
}

.opacity-0 {
    opacity: 0
}

.opacity-100 {
    opacity: 1
}

.opacity-75 {
    opacity: .75
}

.opacity-50 {
    opacity: .5
}

.opacity-30 {
    opacity: .3
}

.opacity-90 {
    opacity: .9
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color)
}

.shadow,.shadow-md {
    box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

.outline {
    outline-style: solid
}

.ring {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.ring-white {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 255 255/var(--tw-ring-opacity))
}

.ring-violet-300 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(196 181 253/var(--tw-ring-opacity))
}

.ring-opacity-75 {
    --tw-ring-opacity: 0.75
}

.ring-opacity-80 {
    --tw-ring-opacity: 0.8
}

.ring-offset-orange-300 {
    --tw-ring-offset-color: #fdba74
}

.blur {
    --tw-blur: blur(8px)
}

.blur,.grayscale {
    -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.grayscale {
    --tw-grayscale: grayscale(100%)
}

.invert {
    --tw-invert: invert(100%)
}

.invert,.sepia {
    -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.sepia {
    --tw-sepia: sepia(100%)
}

.filter {
    -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px)
}

.backdrop-blur-sm,.backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.transition-opacity {
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.transition-transform {
    transition-duration: .15s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.transition-colors {
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.transition-spacing {
    transition-duration: .15s;
    transition-property: margin,padding;
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

.duration-100 {
    transition-duration: .1s
}

.duration-200 {
    transition-duration: .2s
}

.duration-150 {
    transition-duration: .15s
}

.ease-out {
    transition-timing-function: cubic-bezier(0,0,.2,1)
}

.ease-in {
    transition-timing-function: cubic-bezier(.4,0,1,1)
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4,0,.2,1)
}

/* :root {
    --scrollbar-track-color: rgba(0,0,0,.05);
    --scrollbar-thumb-color: rgba(0,0,0,.2);
    --bg-checker: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".05"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>');
    --bg-checker-color: #fff
} */

/* ::-webkit-scrollbar {
    width: 7px
} */

/* ::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
    background: var(--scrollbar-track-color)
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
    background: var(--scrollbar-thumb-color)
} */

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

.bg-checker {
    background-color: #fff;
    background-color: var(--bg-checker-color);
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".05"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>');
    background-image: var(--bg-checker)
}

.color-picker.react-colorful {
    width: auto
}

.color-picker .react-colorful__saturation {
    border-bottom: none;
    border-radius: 5px
}

.color-picker .react-colorful__alpha,.color-picker .react-colorful__hue {
    border-radius: 10px;
    height: 14px;
    margin-top: 10px
}

.color-picker .react-colorful__alpha-pointer,.color-picker .react-colorful__hue-pointer,.color-picker .react-colorful__saturation-pointer {
    height: 20px;
    width: 20px
}

.carbon-wrap .carbon-img {
    float: left;
    margin-right: 5px
}

.block-media path,.block-media rect,.layer-item path {
    fill: currentColor
}

.gjs-resizer-h.gjs-resizer-h {
    border-radius: 999px;
    border-width: 2px
}

.gjs-off-prv {
    display: none!important
}

.gjs-toolbar-items {
    display: flex
}

.gjs-badge {
    line-height: normal
}

.placeholder\:italic::-webkit-input-placeholder {
    font-style: italic
}

.placeholder\:italic::placeholder {
    font-style: italic
}

.placeholder\:text-neutral-400::-webkit-input-placeholder {
    --tw-text-opacity: 1;
    color: rgb(163 163 163/var(--tw-text-opacity))
}

.placeholder\:text-neutral-400::placeholder {
    --tw-text-opacity: 1;
    color: rgb(163 163 163/var(--tw-text-opacity))
}

.last\:border-b-0:last-child {
    border-bottom-width: 0
}

.hover\:bg-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251/var(--tw-bg-opacity))
}

.hover\:bg-gray-25:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(253 253 253/var(--tw-bg-opacity))
}

.hover\:bg-violet-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(91 33 182/var(--tw-bg-opacity))
}

.hover\:bg-violet-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(139 92 246/var(--tw-bg-opacity))
}

.hover\:bg-black\/10:hover {
    background-color: rgba(0,0,0,.1)
}

.hover\:bg-amber-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(217 119 6/var(--tw-bg-opacity))
}

.hover\:text-violet-800:hover {
    --tw-text-opacity: 1;
    color: rgb(91 33 182/var(--tw-text-opacity))
}

.hover\:opacity-100:hover {
    opacity: 1
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}

.focus-visible\:border-red-500:focus-visible {
    --tw-border-opacity: 1;
    border-color: rgb(239 68 68/var(--tw-border-opacity))
}

.focus-visible\:ring-2:focus-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}

.focus-visible\:ring-offset-2:focus-visible {
    --tw-ring-offset-width: 2px
}

.disabled\:opacity-50:disabled {
    opacity: .5
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1
}

.dark .dark\:border-zinc-700 {
    --tw-border-opacity: 1;
    border-color: rgb(63 63 70/var(--tw-border-opacity))
}

.dark .dark\:border-violet-500 {
    --tw-border-opacity: 1;
    border-color: rgb(139 92 246/var(--tw-border-opacity))
}

.dark .dark\:bg-violet-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(139 92 246/var(--tw-bg-opacity))
}

.dark .dark\:bg-zinc-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42/var(--tw-bg-opacity))
}

.dark .dark\:bg-zinc-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27/var(--tw-bg-opacity))
}

.dark .dark\:bg-zinc-900\/50 {
    background-color: rgba(24,24,27,.5)
}

.dark .dark\:bg-zinc-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70/var(--tw-bg-opacity))
}

.dark .dark\:bg-zinc-700\/75 {
    background-color: rgba(63,63,70,.75)
}

.dark .dark\:bg-sky-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(7 89 133/var(--tw-bg-opacity))
}

.dark .dark\:bg-gray-800 {
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity))
}

.dark .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175/var(--tw-text-opacity))
}

.dark .dark\:text-neutral-500 {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity))
}

.dark .dark\:text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235/var(--tw-text-opacity))
}

.dark .dark\:text-violet-400 {
    --tw-text-opacity: 1;
    color: rgb(167 139 250/var(--tw-text-opacity))
}

.dark .dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219/var(--tw-text-opacity))
}

.dark .placeholder\:dark\:text-neutral-500::-webkit-input-placeholder {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity))
}

.dark .placeholder\:dark\:text-neutral-500::placeholder {
    --tw-text-opacity: 1;
    color: rgb(115 115 115/var(--tw-text-opacity))
}

.dark .hover\:dark\:bg-zinc-800:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(39 39 42/var(--tw-bg-opacity))
}

.dark .hover\:dark\:bg-violet-400:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(167 139 250/var(--tw-bg-opacity))
}

.dark .hover\:dark\:bg-violet-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(124 58 237/var(--tw-bg-opacity))
}

.dark .hover\:dark\:text-violet-400:hover {
    --tw-text-opacity: 1;
    color: rgb(167 139 250/var(--tw-text-opacity))
}
.slack-button {
    background-color: #4a154b;
    display:flex;
    color: #fff;
    padding: 8px 12px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.create-account-button {
    background-color: #DD00FF;
    display:flex;
    color: #fff;
    padding: 8px 12px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-radius: 6px; 
}

.persuasive-block-container{
    border: 0;
    background: linear-gradient(272deg, #A601F3 2.16%, #FE7126 99.58%);
    color: #fff;
    margin: 0 10px;
    border-radius: 10px;
    margin-bottom: 29px;
}
.persuasive-block-heading{
font-family: Inter, sans-serif;
font-size: 16.002px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.4px;
}
.persuasive-block-subheading{
    width: 225px;
    font-family: Inter, sans-serif;
    font-size: 16.002px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
    margin-top: 9px;
}
.persuasive-block-description{
    font-family: Inter, sans-serif;
    font-size: 13.002px;
    font-style: normal;
    font-weight: 300;
    line-height: 19.003px; 
    letter-spacing: 0.325px;
}
.persuasive-block-block-media{
    width: 266px;
    height: 169px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/editor/block-library.png');
}
.sidebar-open {
    display: none;
}


.previewIcon {
    z-index: 100;
}

.popupGifWrapper {
    padding-top: 100px;
}
.giphy-style {
    margin: 0 auto;
}
.savePopupSubTitle {
    position: absolute;
    top: 85px;
    right: 469px;
    color: #000000a1;
    font-size: 18px;
    font-weight: 500;
}

#publish {
    font-family: Inter, sans-serif;
    background-color: #D0F;
    width: 87px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.54px;
    height: 31px;
}

#save {
    font-family: Inter, sans-serif;
    background-color: #4A4A4A;
    width: 87px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.54px;
    height: 31px;
}
#home_button {
    font-family: Inter, sans-serif;
    background-color: #4A4A4A;
    width: 60px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.54px;
    height: 31px;   
}
#blocks-image, #blocks-video, #blocks-customButton, #blocks-icon {    
    align-items: center;
    display: flex;
    background: #f2f5ff;
    border-radius: 6px;
    border: none;
    width: 137px;
    height: 135px;
    margin-bottom: 6px;
    justify-content: center;
}
.googleIconPicker__filterBar {
    padding-left: 35px !important;
    padding-top: 60px !important;
}
.googleIconPicker__search {
    border-radius: 4px !important;
}
.googleIconPicker__search > input {
    border: 2px solid transparent !important;
    border-radius: 4px;
}
.gjs-field {
    border-radius: 4px !important; 
}
.googleIconPicker__customization > div {
    width: 150px;
}
#igsj {
    border-top: 1px solid grey !important;
    border-left: 1px solid grey !important;
}
#topBarButton:nth-child(3) {
    margin-left: 38px;
}
#topBarButton:nth-child(4) {
    margin-right: 10%;
}
#fileName {
    width: 175px;
    border: none;
    margin-right: 10%;
}
#fileName > input {
    border: none;
}
#headerRightButtons {
    margin-left: 12px;;
}
.search-box {
    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 2px solid transparent;
    border-radius: 4px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
  }
  .border-bottom-dashed-grey {
    border-bottom: 1px dashed grey;
  }