@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;900&display=swap");

.headerContainer {
  width: 100%;
  background-color: rgb(242, 247, 252);
  font-size: 18px;
  color: #21243d;
  // height: 22px;
  padding: 22px 0;
  border-bottom: 1px solid rgb(171, 171, 171);
}

.footerContainer {
  width: 100%;
  background-color: rgb(242, 247, 252);
  font-size: 18px;
  color: #21243d;
  // height: 22px;
  padding: 22px 0;
  border-top: 1px solid rgb(171, 171, 171);
}

.sectionContainer {
  background-color: rgb(237 237 237);
  font-size: 24px;
  color: #21243d;
  height: 80px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(237 237 237);
  font-size: 24px;
  color: #21243d;
  .imageSection {
    border: 1px solid grey;
    border-radius: 4px;
  }
}

.buttonCTA {
  border-radius: 4px;
  background-color: aliceblue;
  font-size: 16px;
  color: #21243d;
  padding: 12px 18px;
  margin: 18px 0;
}
