@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;900&display=swap");

.App {
  text-align: center;
  font-family: "Inter";
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.describer {
  font-family: "Inter";
  .describer-item {
    font-weight: normal;
    h1 {
      margin: 0;
      font-size: 14px;
      font-weight: 200;
    }
    h2 {
      font-size: 12px;
      font-weight: 100;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.component-header {
  h1 {
    font-family: "Inter";
    font-weight: bold;
    font-size: 20px;
  }
}

.box-pointer {
  width: 200px;
  height: 45px;
  border: none;
  cursor: pointer;
  outline: none;
}

.Dashboard {
  display: flex;
  .dashboard-item {
    display: flex;
    .sidebar {
      width: 300px;
      border-right: solid 1px gray;
      margin-top: 100px;
      height: 100vh;
      .sidebar-item {
        .sidebar-nav-item {
          color: #fff;
          text-align: left;
          padding: 5px 0 5px 30px;
          font-size: 12px;
          cursor: pointer;
        }
        .upgrade-plan {
          color: #fff;
          margin: 20px;
          text-align: left;
          background: rgb(48, 49, 48);
          padding: 15px;
          .upgrade-plan-item {
            h1 {
              padding: 0;
              margin: 0;
              font-size: 26px;
            }
            p {
              font-size: 14px;
            }
            button {
              background: #cb52f9;
              padding: 5px 20px;
              border: none;
              cursor: pointer;
              color: #fff;
            }
          }
        }
      }
    }
    .main-container {
      margin: 100px 0 0 80px;
      .main-container-items {
        .component-header {
          h1 {
            color: #fff;
            text-align: left;
          }
        }
        .temp-placeholder {
          width: 700px;
          height: 400px;
          background: #f7b68c;
        }
        .call-to-action {
          text-align: left;
          button {
            margin: 20px 20px 0 0;
            padding: 15px 94px;
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 20px;
          }
          .smart-builder {
            color: #fff;
            background: linear-gradient(to right, #ea7959, #994bed);
          }
          .build-it {
            color: #000;
          }
        }
        .component-sub-header {
          text-align: left;
          h1 {
            color: #fff;
            font-size: 26px;
            margin: 40px 0 20px 0;
            letter-spacing: 2px;
            span {
              background-image: linear-gradient(to right, #ea7959, #994bed);
              color: transparent;
              background-clip: text;
            }
          }
        }
        .list-of-points {
          text-align: left;
          color: #fff;
          li {
            padding: 15px 0;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.smart-builder {
  display: flex;
  color: #fff;
  margin-top: 250px;
  justify-content: center;
  .smart-builder-item {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: baseline;
    .component-header {
      h1 {
        font-size: 30px;
      }
    }
    .component-sub-header {
      h1 {
        font-size: 22px;
      }
    }
    button {
      border: none;
      cursor: pointer;
      outline: none;
      font-size: 20px;
      height: 30px;
      width: 180px;
      font-size: 14px;
      padding: 4px 23px;
      margin-top: 10px;
    }
    .smart-builder {
      color: #fff;
      background: linear-gradient(to right, #ea7959, #994bed);
    }
  }
}

.question {
  display: flex;
  color: #fff;
  margin-top: 250px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .question-item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    .single-question {
      display: flex;
      .single-question-item {
        font-size: 32px;
        margin: 20px 0;
      }
    }
    .checkbox {
      margin: 10px 0;
      font-size: 22px;
      input {
        margin: 15px;
      }
    }
    .next-button {
      width: 100%;
      text-align: right;
      button {
        color: #fff;
        background: linear-gradient(to right, #ea7959, #994bed);
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 14px;
        padding: 4px 23px;
        margin-top: 10px;
      }
    }
    .navigation {
      display: flex;
      width: 100%;
      margin-top: 20px;
      p {
        flex: 1;
        display: flex;
      }
      button {
        flex: 1;
        color: #fff;
        background: linear-gradient(to right, #ea7959, #994bed);
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 14px;
        padding: 4px 23px;
        margin-top: 10px;
      }
    }
  }
}

.progress {
  --progress: 0%;

  width: 500px;
  height: 50px;
  border: 1px solid #fff;
  padding: 12px 10px;
  box-shadow: 0 0 10px #aaa;
  margin: 50px 0;
}

.progress .bar {
  width: var(--progress);
  height: 100%;
  background: linear-gradient(gold, #c85, gold);
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px orange;
  animation: shine 4s ease-in infinite, end 1s ease-out 1 7s;
  transition: width 3s ease 3s;
}

@property --progress {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

@keyframes end {
  0%,
  100% {
    box-shadow: 0 0 10px 0px orange;
  }
  50% {
    box-shadow: 0 0 15px 5px orange;
  }
}

.hide {
  display: none;
}
